
    <main class="main-content">
        {if="$success != '' "}
        <div class="div-statusbar status-success">
            <span class="statusbar-msg"><i class="fa-solid fa-check"></i> {$success}</span>
            <span class="close-statusbar" onclick="closestatusbar();"><i class="fas fa-times"></i></span>
        </div>
        {/if}
        {if="$error != '' "}
            <div class="div-statusbar status-error">
                <span class="statusbar-msg"><i class="fa-solid fa-triangle-exclamation"></i> {$error}</span>
                <span class="close-statusbar" onclick="closestatusbar();"><i class="fas fa-times"></i></span>
            </div>
        {/if}
        <h1 class="title-page">Produtos Cadastrados</h1>
        <div class="div-register-and-search">
            <a href="/admin/products/product-register" class="btn btn-medium btn-green"><i class="fas fa-plus"></i> Cadastrar</a>
            <form class="form-search" action="/admin/products">
                <input type="text" class="input-search" placeholder="Pesquise por nome" value="{$search}" name="search">
                <button type="submit" class="submit-search" ><i class="fas fa-search"></i></button>
            </form>
        </div>
        <table class="table-large">
            <thead class="thead">
                <tr class="tr">
                    <th class="th">#</th>
                    <th class="th">Foto</th>
                    <th class="th">Nome</th>
                    <th class="th">Preço</th>
                    <th class="th">Ações</th>
                </tr>
            </thead>
            <tfoot class="tfoot">
            </tfoot>
            <tbody class="tbody">
                {loop="$products"}
                <tr class="tr">
                    <td class="td">{$value.idproduct}</td>
                    <td class="td"><img src="{$value.photoproduct}" alt="Imagem ilustrativa do produto {$value.nameproduct}" class="table-img"></td>
                    <td class="td">{$value.nameproduct}</td>
                    <td class="td">R$ {function="formatPrice($value.vlprice)"}</td>
                    <td class="td td-btns">
                        <a href="/admin/products/{$value.idproduct}/product-update" class="btn btn-min btn-blue"><i class="fas fa-edit"></i> Editar</a>
                        <a href="/admin/products/{$value.idproduct}/sale-product" class="btn btn-min btn-yellow"><i class="fa-solid fa-circle-dollar-to-slot"></i> Promoção</a>
                        <a href="/admin/products/{$value.idproduct}/delete" class="btn btn-min btn-red" onclick="return confirm('Deseja realmente excluir o produto {$value.nameproduct} ?')"><i class="fas fa-trash-alt"></i> Excluir</a>
                    </td>
                </tr>
                {/loop}
            </tbody>
        </table>
        <div class="pagination">
            {loop="$pages"}
            <a class="page" href="{$value.href}">{$value.text}</a>
            {/loop}
        </div>
    </main>
