<main class="main-content">
    <div class="main-container">
        <form action="/profile/edit" class="form" method="POST">
            {if="$error != '' "}
            <div class="div-statusbar status-error">
                <span class="statusbar-msg"><i class="fa-solid fa-triangle-exclamation"></i> {$error}</span>
                <span class="close-statusbar" onclick="closestatusbar();"><i class="fas fa-times"></i></span>
            </div>
            {/if}
            <h1 class="title-form">Atualizar Informações, {$user.nameperson}</h1>
            <label for="nameperson" class="label-form">Nome</label>
            <input type="text" class="input-form" placeholder="Insira um nome" name="nameperson" id="nameperson" value="{$user.nameperson}">
            <label for="emailuser" class="label-form">Email</label>
            <input type="email" class="input-form" placeholder="Insira um Email" name="emailuser" id="emailuser" value="{$user.emailuser}">
            <label for="phoneperson" class="label-form">Celular</label>
            <input type="text" class="input-form" placeholder="Insira um número de celular" name="phoneperson"
                id="phoneperson" value="{$user.phoneperson}">
            <label for="dtbirthperson" class="label-form">Data De Nascimento</label>
            <input type="date" class="input-form" name="dtbirthperson" id="dtbirthperson" value="{$user.dtbirthperson}">
            <div class="form-group">
                <span class="label-form">Gênero</span>
                <div>
                    <input type="radio" name="genderperson" id="genderperson" value="M" {if="$user.genderperson === 'M'"}checked{/if}>
                    <label for="genderperson">Masculino</label>
                </div>
                <div>
                    <input type="radio" name="genderperson" id="genderperson" value="F" {if="$user.genderperson === 'F'"}checked{/if}>
                    <label for="genderperson">Feminino</label>
                </div>
            </div>
            <div class="form-btns">
                <button type="submit" class="btn btn-min btn-blue"><i class="fas fa-pen"></i> Atualizar Informações</button>
            </div>
        </form>
    </div>
</main>